.container {
    /*Position*/
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #c7cdcb;
}

.button-container {    
    /*Flexbox Items*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
}

.button-wrapper {
    display: block;
    align-self: center;
}

button {
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
    border: 5px solid;
    border-radius: 25px;
    position: relative;
}

button:hover {
    cursor: pointer;
}

.normal {
    background-color: #f4f3f3;
    color: black;
    border-color: black;
}

.pressed {
    background-color: #8bc32a;
    color: #f4f3f3;
    border-color: #f4f3f3;
    animation: buttonPressed 2s forwards;
}

button>h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 72px;
    font-weight: 400;
}

.copied-text {
    /*Position*/
    z-index: 1; 
    position: absolute; 
    bottom: 0; 
    left: 40%;
    
    /*Style*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 400;
    transition: color 2s ease;
    animation: copiedTextFadeInOut 2s forwards;
}

@keyframes copiedTextFadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.subtitle{
    position: absolute;
    width: 250px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

footer {
    /*Text*/
    font-size: xx-large;
    font-family: "Hurricane", serif;
    font-weight: 100;
    font-style: normal;

    /*Position*/
    position: fixed;
    bottom: 5%;
    right: 2.5%;
}