<div class="container">
    <h1 class="title">Click to copy-paste.</h1>
    <div class="button-container">
        <div class="button-wrapper">
            <button (click)="capitalEnyePressed('Ñ')" class="button" [ngClass]="capitalEnyeButtonState === 'pressed' ? 'pressed' : 'normal'">
                <h1>Ñ</h1>
                @if(showCopiedTextInCapitalEnye) {
                    <p class="copied-text">Copied!</p>
                }
            </button>
            <p class="subtitle">Press and hold Alt then type 165 to write Ñ</p>
        </div>
        <div class="button-wrapper">
            <button (click)="smallEnyePressed('ñ')" class="button" [ngClass]="smallEnyeButtonState === 'pressed' ? 'pressed' : 'normal'">
                <h1>ñ</h1>
                @if(showCopiedTextInSmallEnye) {
                    <p class="copied-text">Copied!</p>
                }
            </button>
            <p class="subtitle">Press and hold Alt then type 164 to write ñ</p>
        </div>
    </div>
</div>


<footer>by Emmanuel Pangan</footer>