<div class="container">
    <h1 class="title">I-click para ma-copypaste.</h1>
    <div class="button-container">
        <div class="button-wrapper">
            <button (click)="capitalEnyePressed('Ñ')" class="button" [ngClass]="capitalEnyeButtonState === 'pressed' ? 'pressed' : 'normal'">
                <h1>Ñ</h1>
                @if(showCopiedTextInCapitalEnye) {
                    <p class="copied-text">Copied!</p>
                }
            </button>
            <p class="subtitle">Pindutin ng matagal ang ALT at i-type ang 165 para sa Ñ</p>
        </div>
        <div class="button-wrapper">
            <button (click)="smallEnyePressed('ñ')" class="button" [ngClass]="smallEnyeButtonState === 'pressed' ? 'pressed' : 'normal'">
                <h1>ñ</h1>
                @if(showCopiedTextInSmallEnye) {
                    <p class="copied-text">Copied!</p>
                }
            </button>
            <p class="subtitle">Pindutin ng matagal ang ALT at i-type ang 164 para sa ñ</p>
        </div>
    </div>
</div>


<footer>gawa ni Emmanuel Pangan</footer>